.tile {
    width: 25%;
    height: 25%;
    font-size: 3.75vh;
    position: absolute;
    border-radius: 1rem;
    border: 0.4rem solid var(--light);
    transition: transform, 0.15s;
    will-change: transform;
    cursor: grab;
    padding: 0;
}